/*graph*/

.graph-feld {
    position: relative;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1em;
    background-color: #757575;
    color: white;
    align-items: center;
    justify-content: center;
    border: solid #757575;
}

.graph-header {
    display: flex;
    flex-direction: row;
    height: 1.4em;
    width: 100%;
    background-color: #757575;
    border-bottom: solid #4d4d4d 0.2em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.graph-feld p {
    text-align: center;
    margin: 0.3em;
    width: 98%;
    border-bottom: #4d4d4d solid;
    font-size: 0.9em;
}

@media(max-width:400px) {
    .graph-feld p {
        font-size: 0.8em;
    }      
}

.graph-dartellung {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
}

#myChartmontag {
    padding: 0.5em;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 1em;
    background-color: #CCCCCC;
    border: none;
}

@media(max-width:400px) {
    #myChartmontag {
        max-width: 95%;
    }       
}

.graph-dartellung-button {
    display: flex;
    flex-direction: row;
    margin: 0.3em;
    padding: 0.3em;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    border-top: #4d4d4d solid;
}

.graph-dartellung-button button {
    margin: 0.2em;
    border: none;
    border-radius: 1em;
    font-size: 0.5em;
    color: white;
}

@media(max-width:400px) {
    .graph-dartellung-button button {
        margin: 0;
    }    
}